body {
  font-size: 16px;
  background: rgb(28, 36, 51);
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

.btn {
  display: block;
  box-sizing: border-box;
  padding: 1.5rem 3.5rem;
  position: relative;
  background: none;
  color: white;
  text-transform: uppercase;
  border: 1px solid currentColor;
  --progress: 100%;
  cursor: pointer;
  margin-top: 20px;
}

.btn:before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: white;
  clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  transition: clip-path 0.2s;
}
.btn:hover {
  --progress: 0%;
}

.btn .text-container {
  display: block;
  position: relative;
  overflow: hidden;
}
.btn .text {
  display: block;
  position: relative;
  font-size: 1rem;
  font-weight: 900;
  mix-blend-mode: difference;
}
.btn:hover .text {
  animation: move-up-alternate 0.3s forwards;
  will-change: transform;
}

.btn:active {
  background-color: rgb(28, 36, 51, .3)
}

@keyframes move-up-alternate {
  from {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  100% {
    transform: translateY(0%);
  }
}
